#banner
	.banner_content
		%h1 NoteNote
		%p Your online notebook. Never forget an idea again.
		%button= link_to "Sign Up", new_user_registration_path

#testimonial
	.wrapper
		%p.quote "The greatest notebook application. Period"
		%p.name - Mackenzie Child

#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Notes
				%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper pulvinar blandit. Aenean id suscipit enim. Proin mollis est non tortor elementum pretium. Donec non placerat massa. Curabitur non sapien in ante aliquam pretium. Sed consequat quis nulla ut tempus. Nullam ultricies, turpis eget bibendum hendrerit, felis diam fringilla arcu, eu placerat ante ex nec lorem.
			.callout
				%h2 Great
				%p Sed consequat quis nulla ut tempus. Quisque odio justo, cursus ut commodo ut, cursus quis nisl. Nam gravida porta libero eu pellentesque. Sed auctor nec elit at dapibus. Vestibulum nec est elit. Curabitur vitae viverra massa. Vestibulum nisl elit, aliquam in suscipit id, tempus eu mi. Nullam ultricies, turpis eget bibendum hendrerit, felis diam fringilla arcu, eu placerat ante ex nec lorem.
			.callout
				%h2 Wow
				%p Aenean id suscipit enim. Proin mollis est non tortor elementum pretium. Donec non placerat massa. Curabitur non sapien in ante aliquam pretium.  Sed auctor nec elit at dapibus. Vestibulum nec est elit. Curabitur vitae viverra massa. Vestibulum nisl elit, aliquam in suscipit id, tempus eu mi. Nullam ultricies, turpis eget bibendum hendrerit, felis diam fringilla arcu, eu placerat ante ex nec lorem.
#bottom_cta
	.wrapper
		%h2 Please
		%p I want you to sign up! Please.
		%button= link_to "Click Meeee!", new_user_registration_path

%footer
	%p &copy; Lucas Vocos